<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>ChatForFun</title>
</head>
<body>
    <div class="container">
        <div id="sq1" class="square-bg square-top-bottom rot-sq"></div>

        <div id="sq2" class="square-bg sq-left-top rot-sq-left"></div>
        <div id="sq3" class="square-bg sq-right-top rot-sq-right"></div>
        <div class="main">
            <%- body %>
        </div>
        <div id="sq4" class="square-bg sq-left-bottom rot-sq-left"></div>
        <div id="sq5" class="square-bg sq-right-bottom rot-sq-right"></div>

        <div id="sq6" class="square-bg square-top-bottom rot-sq"></div>
    </div>
</body>
</html>